doctype html
html
    head
        title Sample App
    body 
        h1 Hello Express
        a(href="/about"): h3 ABOUT
        a(href="/index"): h3 INDEX
        block content
            h1 something from layout
